<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Request Status</title>
</head>
<body>
    <h1>Dear <%= name %>,</h1>
    <p>Your leave request has been <strong><%= status %></strong>.</p>
    <p>Reason: <%= reason %></p>
    <% if (status === 'rejected') { %>
        <p>Rejection Message: <%= message %></p>
    <% } %>
    <h3>Thanks and Regards,</h3>
    <h3>Osai E-biz</h3>
</body>
</html>
